.vscode/c_cpp_properties.json
.vscode/settings.json
build/ClassCreator.o
build/functions.o
build/main.o
build/MyCheckButton.o
build/MyWindow.o
include/precompiled.hpp.gch
build/MyInputChoice.o
build/MyButton.o
